.north img {
	float: top;
	margin-bottom: 20px;
	margin-right: 20px;
}

.element_reveal.west {
	margin-left:0px;
}

.east img {
	float: left;
	margin-right: 20px;
}

.west h1,
.west .text{
	text-align: right;
}

.west img {
	float: right;
	margin-left: 20px;
}

.element_reveal.south {
	padding-top: 60px;
}

.south h1 {
	position: absolute;
	top: 40px;
}
