/***********************************************************/
/*DO NOT ATLER*/

@media only screen and (min-width: 420px){

.element {
	background-color: none;
	box-shadow: none;
	padding-top: 10px;
	padding: 40px;
	color: transparent;
	cursor: move;
	position: absolute;	
}

.element_reveal {
	background-color: white;
	box-shadow: 3px 3px 3px 3px lightgrey;
	padding-top: 10px;
	padding: 40px;
	color: black;
	font-size: 16px; 
	line-height: 22px;
	z-index: 9;
	cursor: default;
	
}


.element > * {
	width: 0px;
	height: 0px;
}

.element_reveal > h1 {
	width: 100%;

}

.element h1 {
	font-size: 16px;
	padding: 0px;
	margin-top: -10px;
    margin-bottom: 30px;
}

/**********************************************************/
/*IMPORTANT! NEW MODULES ARE ADDED HERE.
COPY FORMAT AND APPLY RELEVANT WIDTH, HEIGHT
AND POSITION INFORMATION*/

.element#one,
.element#one > img,
.element_reveal#one > .text {
	width: 300px;
	height: 300px;
	left: 34px; top: 249px;
	
}

.element#two,
.element#two > img,
.element_reveal#two > .text {

	width: 200px; 
	height: 360px;
	left: 343px; top: 113px;
}

.element#three,
.element#three > img,
.element_reveal#three > .text {
	width: 600px; 
	height: 200px;
	left: 212px; top: 40px;

}

.element#four,
.element#four > img,
.element_reveal#four > .text {
	width: 200px; 
	height: 200px;
	left: 823px; top: 40px;

}

/*THE CSS THAT FOLOWS ACTS AS A REDUNDANT FAILSAFE 
AGAINST SHIFTS IN DIFFERENT BROWSERS,
THE COMPUTED SIZE OF EACH MODULE CAN BE FOUND 
USING THE INSPECT ELEMENT TOOL IN THE BROWSER*/


.element_reveal#one {
 	width:620px!important;
	height:320px!important;
}

.element_reveal#two {
 	width:420px!important;
	height:380px!important;
}


.element_reveal#three{
	width:620px!important;
	height:444px!important;
}

.element_reveal#four{
	width:420px!important;
	height:220px!important;
}

.element_reveal#one > .text,
.element_reveal#two > .text,
.element_reveal#three > .text,
.element_reveal#four > .text  {
	overflow: scroll!important;
}

/**********************************************************/


}
