html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	max-width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-family: "andale mono";
	overflow: none;
}

.nav {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	border-bottom:1px solid;
}

.nav ul {
	list-style-type: none;
}

.nav ul li:hover {
	color: tomato;
}

.container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 0px;
	background-color: whitesmoke;
	border-top: 1px solid white;
}

#cumpass {
	width: 20px;
	height: 20px;
	font-family: "andale mono";
	font-size: 30px;
	background-color: tomato;
	border-radius: 50%;
	position: relative;
	left: 50%;
	margin-left: -10px;
	top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.up {
	width: 2px;
	height: 20px;
	background-color: black;
	position: absolute;
	left: 9px;
}
.across {
	width: 20px;
	height: 2px;
	background-color: black;
	position: absolute;
	top: 9px;
}

.element {
	width: 100px;
	height: 100px;
	background-color: none;
	box-shadow: none;
	padding: 20px;
	padding-left: 20px;
	color: transparent;
	cursor: move;
}


.element_reveal {
	background-color: white;
	box-shadow: 3px 3px 3px 3px lightgrey;
	padding: 20px;
	color: black;
	font-size: 14px; 
	line-height: 18px;
	z-index: 9;
}

/*.element_reveal h1 {
	font-size: 16px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	/*position: absolute;*/
}*/

[draggable=true] {
    cursor: move;
}

.north h1 {
	font-size: 16px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.north img {
	float: top;
	margin-bottom: 20px;
	margin-right: 20px;
}

.east h1 {
	text-align: left;
	font-size: 16px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.east img {
	float: left;
	margin-right: 20px;
}

.east .text {
	/*float: left;*/
	width: auto;
	font-size: 14px; 
	margin-left: 20px; 
	line-height: 18px;
}

.west h1 {
	text-align: right;
	font-size: 16px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.west img {
	float: right;
	margin-left: 20px;
}

.west .text {
	text-align: right;
	width: auto;
	margin-right: 20px; 
}

.west .text {
	text-align: right;
	width: auto;
	margin-right: 20px; 
}


.south h1 {
	font-size: 16px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.south img {
	position: absolute;
	bottom:20px;
}

.south .text {
	float: top;
}


#one {
	width: 850px;
	height: 400px;
	position: absolute;
	
	top: 50px;
	left: 100px;
}

#two {
	position: absolute;
	width: 550px;
	height: 400px;

	top: 300px;
	left: 600px;
}

#three {
	position: absolute;
	width: 600px;
	height: 500px;

	top: 50px;
	left: 600px;
}

